@model bool
@{
	Layout = null;	
}
<span style="float: left; width: 50px;">Да<input type="radio"  data-type = 'bool' name="radiobutton"></span>
<span style="float: left; width: 50px;">Нет<input type="radio"  data-type = 'bool' name="radiobutton"></span>