@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_EmptyMaster.cshtml";
}


@section StyleSheets{
	<style>
		body {
			width: 800px;
			margin: auto;
		}
		#signature, #fileText {
			width: 700px;
			min-height: 300px;
			padding: 15px;
			border: dotted 1px #bcbcbc;
			margin: 15px 0 0 0;
			float: left;
			overflow: auto;
		}
		#CertName, #sertificatedData {
			width: 600px;
			float: left;
		}
		#buttonRun {
			width: 100px;
			height: 40px;
			float: left;
			cursor: pointer;
		}
	</style>
}

@section JavaScripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.1.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/markupHelper.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/DigitalSignature.js")"></script>	
    <script type="text/javascript">
        $(function () {
            $('#buttonRun').click(function () {
                var certificateHash = $("#enabledCertificates").val();
                kadastrModalWindow.result = certificateHash;
                kadastrModalWindow.close(TestDisplay);
            });
        });
    </script>
}

<div class="content_row" id="sertRow">
	<h2>Cертификат</h2>
</div>
<div class="content_row">
	<input type="button" value="выбрать" id="buttonRun" />
</div>
<object id="cadesplugin" type="application/x-cades" class="hiddenObject"></object>