@{
    ViewBag.Title = "Техническое обслуживание";
}
<div>
    @Kadastr.WebApp.Properties.Resources.MaintenanceModeOn
    <br />
    @Kadastr.WebApp.Properties.Resources.PleaseContactToSysAdmin
</div>
